<h3>Hello, if you want to post something - sign in or sign up, please</h3>

<% if current_user %>
	<%= link_to 'create article', new_user_article_path(current_user.id) %>
<% end %>

<%= link_to 'show articles', articles_path %>
  

  



  
