<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>follow next link to create a new password</h1>
    <p>
      <%= @user.id %>
      <a href="http://localhost:3000/users/<%= @user.id %>/recover_pass">link</a>
      <%= link_to 'recover', 'http://localhost:3000/recover_pass' %>
    </p>
  </body>
</html>
