/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap3-editable/bootstrap-editable
 *= require_tree .
 */

html {
  background-color: #7D7DF3;
  margin: 2% 15% 2% 15%;
}


html body{
  padding: 10px 45px 15px 45px;
  background-color: #white;
  color: #333333;
}
html a {
  color: #445B50;
}
#user_header{
  float: right;
}
