// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.some_class{
  width: 100px;
}
.editing{
  display: none;
}

.articleObj:hover{
  .editing{
    display: block;
  }
}
.edits{
  text-decoration: none;
  border-bottom: none;
  color: black;
}
.text_content,
.title_content{

  margin: 15px 10% 15px 10%;
  padding: 3px 5px 3px 5px;
  background-color: #2EFF23;
}
.title_text{
  text-align: center;
}

.article_info{
  font-weight: bold;
  margin: 0px 10% 0px 10%;
  padding: 0px 5px 0px 5px;
  background-color: #40E0D0;
  text-align: center;
  height: 60px;
}
.articleObj{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: #445B50;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 25px;
  margin-right: 300px;
  background-color: #86FFFF;
}
.articleObj:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.sorting{
  font-weight: bold;
  padding-right: 15px;
  padding-top: 15px;
}

.separator .separator_line {
    height: 30px;
    margin-right: 300px;
    width: 320px;
    border-bottom: 1px solid #239623;
}
.separator {
  float: right;
}
// .user_articles_content{
//   margin-right: auto;
//   float: right;
//   padding-right: 20%;
// }
// .user_articles{
//   background-color: #30FFD0;

//   padding-bottom: 20px;
//   margin-top: 20px;
//   padding-top: 10px;
//   padding-left: 10px;
//   padding-right: 10px;
//   margin-left: auto;
//   width: 200%;
// }
// .user_articles_title{
//   margin-top: 10px;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   padding-left: 15px;
//   background-color: #2EFF23;
// }
.user_articleObj{
  // background-color: #00F1D4;

  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  color: #445B50;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 5px 15px 5px 5px;

}
.user_text_content,
.user_title_content{
  margin: 15px 10% 15px 10%;
  padding: 5px 5px 5px 5px;
  background-color: #2EFF23;
}
.user_articles_content{
  float: right;
}
.user_articles{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color: #86FFFF;
  margin-top: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 275px;
}
// .user_articles:hover{
//   box-shadow: 0 0 10px rgba(0,0,0,0.9);
// }
.user_articles_title{
}
.user_preview_title_content{
  background-color: #2EFF23;
}

.user_preview_title_content{
  margin: 15px 10% 15px 10%;
  padding: 2px 5px 2px 5px;
  background-color: #2EFF23;
}
.user_preview:hover{

    .hidden_article{

    display: inline;
  }
}
.hidden_article{
  display: none;
}
.user_separator{
  margin-left: 5px;
    width: 250px;
    border-bottom: 1px solid #239623;
}
.goto_article{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: blue;
  a{
    display: block;
    font-size: large;
    font-weight: bold;
    color: white;
  }
  a:hover{
    color: white;
    text-decoration: none;
  }
}
.goto_article:hover{
  background-color: yellow;
}
.user_editing{
  text-align: center;
}
#Read{
  margin-top: 50px;
}
.my_articles{
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.separator_articles{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 710px;
  border-bottom: 1px solid #239623;
}
.all_articles{
  font-size: x-large;
  font-weight: bold;
}
.separator_my_articles{
  width: 255px;
  border-bottom: 2px solid blue;
}
