// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.some_class{
  width: 100px;
}
.editing{
  display: none;
}

.articleObj:hover{
  .editing{
  display: block;
  }
}
.edits{
  text-decoration: none;
  border-bottom: none;
  color: black;
}
.text_content,
.title_content{

  margin: 15px 10% 15px 10%;
  padding: 5px 5px 5px 5px;
  background-color: #2EFF23;
  border-radius: 10px;
}
.title_text{
  text-align: center;
}

.article_info{
  margin: 0px 10% 0px 10%;
  padding: 0px 5px 0px 5px;
  background-color: #40E0D0;
  text-align: center;
}
.articleObj{
  border-radius: 15px;
  color: #445B50;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #30FFD0;
}


.sort{
  padding-right: 15px;
  padding-top: 15px;
}
